body {
    font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	color:#2a3845;
}

.navi {
	margin:0 auto;
    width: auto;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
    font-size: 25px;
    font-family:helvetica sans-serif;
    text-align: center;
}

#cover {
    width:140px;
    height: 85px;
    position: absolute;
    top: 79px;
    display: block;
    margin-left: 900px;
    border: 3px;
    z-index: -2;
}
footer {
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: -webkit-linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
	border-top:1px solid #f0e9eb;
	padding:5px 10px;
	clear:both;
    color: white;
    position: fixed; 
    bottom: 0;
    margin: 0;
    width: 100%;
    font-size: 15px;
}

/* Global Styling */

a:visited, a:link {
	color:white;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h1 {
	color:#7a2e40;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h1 {
	color:#7a2e40;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#7a2e40;
	margin:20px 30px;
	font:normal 25px Georgia, serif;
	border-bottom:1px solid #efece7;
}
h4{
    font-size: 15px;
}

ul {
	padding:0;
    list-style: none;
}
li {
    display: inline-block;
    width: 200px;
}

.content {
	background:#f7f7f7;
    width: 820px;
    width: 750px;
    height: 1500px;
	border:1px solid #f0e9eb;
	padding:30px;
    font-size: 16px;
    height: 1550px;
	border:1px solid #f0e9eb;
	padding:30px;
    font-size: 13px;
    margin-left: 140px;
}
.Members{
    text-align: center;
}

.links {
    background: linear-gradient(10deg, #05abe0 0%,#ff89e9 100%);
    background: -webkit-linear-gradient(10deg, #05abe0 0%,#ff89e9 100%);
    background: -webkit-linear-gradient(10deg, #05abe0 0%,#ff89e9 100%);
	padding:25px 25px;
	clear:both;
    color: white;
    position: fixed; 
    top: 0;
    margin: 0;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

a:visited, a:link {
	color:#ffffff;
    text-decoration: none;
}

a:hover {
	color: red;
    text-decoration:underline;
}

.heading1 {
    margin-top: 70px;
    margin-bottom:20px;
    margin-left: 30px;
    margin-left: 170px;
	font:normal 55px Georgia, serif;
	color:darkblue;
    width: 1500px;
}
.heading2 {
    margin-top: 70px;
    margin-bottom:20px;
    margin-left: 200px;
    text-align: center;
	font:normal 80px Georgia, serif;
	color:darkblue;
    width: 1500px;
}
#img1{
    width: 700px;
    height: 500px;
    margin-left: 1070px;
    display: block; 
}
#img2, #img3{
    width: 700px;
    height: 500px;
    margin-left: 1100px;
    display: block;   
}
#river, #bch, #boat{
    float: left;
    width: 500px;
    height: 300px;
    margin-left: 50px;
    border-radius: 10px;
    margin-right: 50px;
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect1 img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect1:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect2 img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.hovereffect2:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.absolute {
    position: absolute;
    top: 200px;
    right: 100px;
}
.absolute1 {
    position: absolute;
    top: 730px;
    right: 100px;
}
.absolute2 {
    position: absolute;
    top: 1250px;
    right: 100px;
}
#img1, #img2, #img3{
    width: 700px;
    height: 500px;
    z-index: -2;
    margin-left: 200px;
}
#river, #bch, #boat{
    float: left;
    width: 500px;
    height: 300px;
    margin-left: 50px;
    border-radius: 10px;
    margin-right: 50px;
}
#river2, #shad, #walk{
    float: right;
    width: 500px;
    height: 300px;
    margin-left: 50px;
    border-radius: 10px;
}
#opinion1, #opinion2, #opinion3, #opinion4, #opinion5, #opinion6{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    
}
.opinions {
	background:#f7f7f7;
    width: 1200px;
    height: 2150px;
	border:1px solid #f0e9eb;
	padding:30px;
    font-size: 13px;
    margin: auto;
    text-align: center;
}
#img6{
    width: 400px;
    height: 250px;
    margin-left: 590px;
    display: block;
    border-style: solid;
    
}
#img6:hover {
   -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.about{
    margin-top: 100px;
}
.abot{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size:24px;
}
#melo{
        border-radius: 50%;
	width: 20%;
    position:inherit;
}
#jeanne{
        border-radius: 90%;
	width: 450px;
    position:inherit; 
        height:300px;  
    }
  #richy{
        border-radius: 50%;
	width: 20%;
    position:inherit; 
    }
  #jakob{
        border-radius: 50%;
	width: 20%;
    position:inherit; 
    }
  #avery{
        border-radius: 50%;
	width: 20%;
    position:inherit; 
    }
    




/* Responsiveness */
@media screen and (max-width: 1080px)
and (max-height: 720px){
    .links{
        font-size: 20px;
        padding:15px 15px;
    }
 .heading1 {
    margin-top: 35px;
    margin-bottom:20px;
    margin-left: 30px;
	font:normal 25px Georgia, serif;
	color:#fa7393;
 }
 #cover {
    width:50px;
    height: 30px;
    position: absolute;
    top: 50px;
    display: block;
    margin-left: 210px;
    border: 3px;
    z-index: -2;
}
.content {
	background:#f7f7f7;
    width: 450px;
    height: 2000px;
	border:1px solid #f0e9eb;
	padding:10px;
    font-size: 13px;
    margin-left: 50px;
}
    h1 {
	color:#7a2e40;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 5px Georgia, serif;
	border-bottom:1px solid #efece7;
}
    #img1{
    width: 370px;
    height: 260px;
    margin-left: 480px;
    margin-top: -50px;
    display: block; 
    
}
#img2, #img3{
  width: 370px;
    height: 260px;
    margin-left: 480px;
    display: block; 
}
 #river, #bch, #boat{
    float: left;
    width: 250px;
    height: 150px;
    margin-left: 15px;
    border-radius: 10px;
    margin-right: 50px;
}
#river2, #shad, #walk{
    float: right;
    width: 250px;
    height: 150px;
    margin-left: 120px;
    border-radius: 10px;
}
#opinion1, #opinion2, #opinion3, #opinion4, #opinion5, #opinion6{
    display: inline-block;
    margin-left: 20px;
    margin-right: 200px;
    margin-top: 50px;
    
}
.opinions {
	background:#f7f7f7;
    width: 1100px;
    height: 1250px;
	border:1px solid #f0e9eb;
	padding:5px;
    font-size: 13px;
    margin: auto;
    text-align: center;
}   
     .heading2 {
    margin-top: 35px;
    margin-bottom:20px;
    margin-left: -200px;
	font:normal 25px Georgia, serif;
	color:#fa7393;
 }
    .navi {
    width: auto;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
    font-size: 25px;
    font-family:helvetica sans-serif;
    text-align: center;
}
    footer {
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: -webkit-linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
	border-top:1px solid #f0e9eb;
	padding:5px 10px;
	clear:both;
    color: white;
    position: fixed; 
    bottom: 0;
    margin: 0;
    width: 1070px;
    font-size: 15px;
}
    }
    
    
    
